<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> User List
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm" >
              <thead>
                <tr>
                  <th width="8%">S.No</th>
                  <th width="25%">Name</th>
                  <th width="30%">Email</th>
                  <th width="10%">Image</th>
                  <th width="12%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of uuData; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{u.firstName}} {{u.lastName}}</td>
                  <td>{{u.email}}</td>
                  <td> <img class="img-avatar" src="{{globals.URL+'/user_image/'+u.imageURL}}" height="50" width="50" ></td>
                  <td>
                    <span class="delete_subject marginClass cursorClass" data-title="View" (click)="alertMsg()"><img src="assets/img/view.png" alt="" /></span>
                    <span class="edit_subject_data  marginClass cursorClass " data-title="Edit" (click)="alertMsg()" ><img src="assets/img/edit_icon.png" alt="" /></span>
                    <span class="delete_subject marginClass cursorClass" data-title="Delete" (click)="alertMsg()" ><img src="assets/img/delete_icon.png" alt="" /></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  